<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd">  
<div class="a-tag-icons position-relative">
    <div class="a-tag-icons-start">
        <div class="red-prehead">Certifications</div>
        <div class="black-head">Backed by science.</div>
    </div>
    {% comment %} REGULAR ICONS {% endcomment %}
    <div class="regular-icons icons_container d-flex align-items-center justify-content-between flex-wrap">
        <div class="icons_box">
            <img  src="{{ 'cbmd-physician-formulated.svg' | asset_url }}">
            <p data-mh="svg-title"> Physician Formulated</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-medical-grade.svg' | asset_url }}">
            <p data-mh="svg-title">Medical Grade</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-usa-grown-hemp.svg' | asset_url }}">
            <p data-mh="svg-title">USA Grown Hemp</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-hemp-derived.svg' | asset_url }}">
            <p data-mh="svg-title">Hemp Derived</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-thc-free.svg' | asset_url }}">
            <p data-mh="svg-title">0.0 THC</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-natural-ingredients.svg' | asset_url }}">
            <p data-mh="svg-title">Natural Ingredients</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-vegan.svg' | asset_url }}">
            <p data-mh="svg-title">Vegan</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-non-gmo.svg' | asset_url }}">
            <p data-mh="svg-title">Non GMO</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-fda-registered-facility.svg' | asset_url }}">
            <p data-mh="svg-title">FDA Registered Facility</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-3rd-party-tested.svg' | asset_url }}">
            <p data-mh="svg-title">3rd Party Lab Tested</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-coa-tested-approved.svg' | asset_url }}">
            <p data-mh="svg-title">Certificate of Analysis</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-broad-spectrum.svg' | asset_url }}">
            <p data-mh="svg-title">Broad Spectrum</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-enhanced-absorption.svg' | asset_url }}">
            <p data-mh="svg-title">Enhanced Absorption</p>
       </div>
       <div class="icons_box">
            <img  src="{{ 'cbmd-fastacting.svg' | asset_url }}">
            <p data-mh="svg-title">Fast Acting</p>
       </div>

    </div>
    {% comment %} REGULAR ICONS END {% endcomment %}
    <div class="slider-icons">
          <div class="swiper-container mySwipers">
               <div class="swiper-wrapper icons_slider ">
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-physician-formulated.svg' | asset_url }}">
                              <p data-mh="svg-title-2"> Physician Formulated</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-medical-grade.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Medical Grade</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-usa-grown-hemp.svg' | asset_url }}">
                              <p data-mh="svg-title-2">USA Grown Hemp</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-hemp-derived.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Hemp Derived</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-thc-free.svg' | asset_url }}">
                              <p data-mh="svg-title-2">0.0 THC</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-natural-ingredients.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Natural Ingredients</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-vegan.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Vegan</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-non-gmo.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Non GMO</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-fda-registered-facility.svg' | asset_url }}">
                              <p data-mh="svg-title-2">FDA Registered Facility</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-3rd-party-tested.svg' | asset_url }}">
                              <p data-mh="svg-title-2">3rd Party Lab Tested</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-coa-tested-approved.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Certificate of Analysis</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-broad-spectrum.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Broad Spectrum</p>
                         </div>
                    </div>
                    <div class="swiper-slide">
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-enhanced-absorption.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Enhanced Absorption</p>
                         </div>
                         <div class="icons_box">
                              <img  src="{{ 'cbmd-fastacting.svg' | asset_url }}">
                              <p data-mh="svg-title-2">Fast Acting</p>
                         </div>
                    </div>
               </div>
          </div>
          <div class="tags-pagination"></div>
     </div>
</div>
</section>
<style>

</style>

<script>
      var swiper = new Swiper(".mySwipers", {
        slidesPerView: 3.7,
        spaceBetween: 30,
        loop: false,
        pagination: {
          el: ".tags-pagination",
          clickable: true,
        },
        breakpoints: {
          601: {
            slidesPerView: 5,
            spaceBetween: 40,
          },
        },
      });
    </script>