<section class="partners">
    <div class="bn-container">
        <div class="partners__intro">
            <div class="partners__intro-copy">
                <h4 class="bn-subtitle">{{ section.settings.subtitle }}</h4>
                <h2 class="bn-title">{{ section.settings.title }}</h2>
                <div class="bn-lead">{{ section.settings.copy }}</div>
            </div>
            <div class="partners__map-wrapper">
                <div class="partners__map">
                    {% render 'usa-svg-map' %}
                </div>
                <div class="partners__img-legend">
                    <div class="partners__legend-title">
                        CBMD medical partners and affiliates across the United States.
                    </div>
                    <ul class="partners__legend-list">
                        <li class="partners__legend-list-item">CBMD Distributor network</li>
                        <li class="partners__legend-list-item">CBMD Distributors coming soon</li>
                        <li class="partners__legend-list-item">CBMD Partnerships in progress</li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="partners__list">
            {% for block in section.blocks %}
                <li class="partners__list-item">
                    <img src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.name }}" class="partners__partner-img">
                    <div class="partners__partner-content">
                        <h5 class="partners__partner-name">{{ block.settings.name }}</h5>
                        <p>{{ block.settings.info }}</p> 
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="partners__button-wrapper">
            <button class="partners__load-more">View more Partners</button>
        </div>
    </div>
</section>

<script>
    console.log($('.partners__partner-name').next());
    $('.partners__load-more').on('click', togglePartners);
    showButton();

    window.addEventListener("resize", showButton);

    function showButton() {
        console.log('got it');
        $('.partners__button-wrapper').show();

        switch (true) {
            case window.innerWidth < 732 && $('.partners__list-item').length < 4:
                $('.partners__button-wrapper').hide();
                break;
            case window.innerWidth < 1240 && $('.partners__list-item').length < 7:
                $('.partners__button-wrapper').hide();
                break;
            case window.innerWidth > 1240 && $('.partners__list-item').length < 21:
                $('.partners__button-wrapper').hide();
                break;
        
            default:
                break;
        }
    }

    function togglePartners() {
        $('.partners__list-item').toggleClass('show');
        if($('.partners__load-more').text() == 'View more Partners') {
            $('.partners__load-more').text('View less Partners');
        } else {
            $('.partners__load-more').text('View more Partners');
        }
    }
</script>

{% schema %}
{
    "name": "Partners",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Our national network"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Partners with a common goal."
        },
        {
            "type": "richtext",
            "id": "copy",
            "label": "Content",
            "default": "<p>Our community is broad: physicians, healthcare practitioners, scientists, leaders in bioinformatics</p>"
        }
    ],
    "blocks": [
        {
            "type": "member",
            "name": "Team Member",
            "settings": [
                {
                   "type": "image_picker",
                   "id": "image",
                   "label": "Team Member Image" 
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "richtext",
                    "id": "info",
                    "label": "Info"
                }
            ]
        }
    ]
}
{% endschema %}