<section class="path">
    <div class="bn-container">
        <div class="path__intro">
            <h4 class="bn-subtitle">Medical grade CBD</h4>
            <h2 class="bn-title">The components of quality.</h2>
        </div>
        <ul class="path__wrapper">
            <span class="path__starting-line"></span>

            <li class="path__item">
                <div class="path__content">
                    <span class="path__number">01</span>
                    <div class="path__title">Quality ingredient Sourcing</div>
                    <p>With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
                </div>
                <div class="path__image">
                    <img src="{{ 'hand.svg' | asset_url }}" alt="">
                </div>
            </li>
            <li class="path__item">
                <div class="path__content">
                    <span class="path__number">01</span>
                    <div class="path__title">Quality ingredient Sourcing</div>
                    <p>With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
                </div>
                <div class="path__image">
                    <img src="{{ 'tube.svg' | asset_url }}" alt="">
                </div>
            </li>
            <li class="path__item">
                <div class="path__content">
                    <span class="path__number">01</span>
                    <div class="path__title">Quality ingredient Sourcing</div>
                    <p>With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
                </div>
                <div class="path__image">
                    <img src="{{ 'building.svg' | asset_url }}" alt="">
                </div>
            </li>
            <li class="path__item">
                <div class="path__content">
                    <span class="path__number">01</span>
                    <div class="path__title">Quality ingredient Sourcing</div>
                    <p>With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
                </div>
                <div class="path__image">
                    <img src="{{ 'micro.svg' | asset_url }}" alt="">
                </div>
            </li>
            <li class="path__item">
                <div class="path__content">
                    <span class="path__number">01</span>
                    <div class="path__title">Quality ingredient Sourcing</div>
                    <p>With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
                </div>
                <div class="path__image">
                    <img src="{{ 'pills.svg' | asset_url }}" alt="">
                </div>
            </li>

            <span class="path__ending-line"></span>
        </ul>
    </div>
</section>