{% comment %} <section class="rounded-left">
    <div class="rounded-left__container">
        <img class="highlight_image is-inview" src="{{ section.settings.image | img_url: "master" }}" alt="CBMD" >
        <div class="rounded-left__content">
            <h4 class="bn-subtitle">{{ section.settings.subtitle }}</h4>
            <h2 class="bn-title">{{ section.settings.title }}</h2>
            <div>
                {{ section.settings.copy }}
            </div>
            {% if section.settings.btn_link %}
                <a href="{{ section.settings.btn_link }}" class="Button Button--cbd Button--black three-cols__button">{{ section.settings.btn_text }}</a>
            {% endif %}
        </div>
    </div>
</section> {% endcomment %}
<section id="section-1586337176858" data-section-id="1586337176858" data-section-type="cbmd">
    <div class="hi-image row Highlights_image_container align-self-center b-left">
      <div class="hi-image-left col-lg">
        <div class="proportion-div position-relative" style="padding-bottom:100%;">
        <div class="position-absolute w-100 h-100 t-0 l-0"><img data-scroll-repeat="true" data-scroll="" data-scroll-speed="-1" class="highlight_image is-inview" src="//cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2_2048x.png?v=1611156472" srcset="//cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2_2048x.png?v=1611156472 1x, //cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2_2048x@2x.png?v=1611156472 2x" alt="CBMD" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30.4391, 0, 1);"></div>
        </div>
        
      

      </div>

      <div class="hi-image-right col-lg Highlights_item Highlights_second">
        <div class="Highlights_item_content">
          <p class="Highlights_heading box t-red" style="opacity: 1; transform: translate(0px, -40px);">Colleague to colleague</p>
          <p class="box h1-t" style="opacity: 1; transform: translate(0px, -40px);">Our commitment<br> to clinicians</p>
          <p class="p-t mw-85 box ml-wide" style="opacity: 1; transform: translate(0px, -40px);">Everyday we look at CBD through a scientific lens. As we encourage and further these conversations with others in healthcare, we move toward a more responsible approach to CBD. If you are a healthcare provider and have questions or thoughts for us, please reach out. </p><p class="Highlights_action box" style="opacity: 1; transform: translate(0px, -40px);"><a href="/pages/contact" class="Button Button--cbd Button--red">Reach out</a></p></div>
      </div>
    </div>
      
</section>
      


{% schema %}
{
    "name": "Team Rounded Left",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Want to hear more?"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our brand promise to clinicians"
        },
        {
            "type": "richtext",
            "id": "copy",
            "label": "Content",
            "default": "<p>Healthcare providers are in a unique position to support patients and facilitate smart decisions around the safety of the products they use.</p>"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Talk with us"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        }
    ]
}
{% endschema %}