<section class="rounded-left">
    <div class="rounded-left__container">
        <img data-scroll-repeat="true" data-scroll="" data-scroll-speed="-1" class="highlight_image is-inview" src="{{ section.settings.image | img_url: "master" }}" alt="CBMD" >
        <div class="rounded-left__content">
            <h4 class="bn-subtitle">{{ section.settings.subtitle }}</h4>
            <h2 class="bn-title">{{ section.settings.title }}</h2>
            <div>
                {{ section.settings.copy }}
            </div>
            {% if section.settings.btn_link %}
                <a href="{{ section.settings.btn_link }}" class="Button Button--cbd Button--black three-cols__button">{{ section.settings.btn_text }}</a>
            {% endif %}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Team Rounded Left",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Want to hear more?"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our brand promise to clinicians"
        },
        {
            "type": "richtext",
            "id": "copy",
            "label": "Content",
            "default": "<p>Healthcare providers are in a unique position to support patients and facilitate smart decisions around the safety of the products they use.</p>"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Talk with us"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        }
    ]
}
{% endschema %}