<div class="main_container_media-single">
<p class="breadcrumbs_media-single">Home / Media / Research</p>
<h1 class="title_page_media-single"> The FDA weighs in on CBD</h1>
<div class="flex_container_media-single">
    <div class="flex_container_media-single-left">
        <p>22 May 2020 • Posted by CBMD</p>
        <img class="img_section_media-single"   src="{{ 'The-FDA-weighs.jpg' | asset_url }}">
        <p class="text_top_media-single">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Senectus et netus et malesuada fames. Leo integer malesuada nunc vel.</p>

        <p class="text_media-single">Quisque sagittis purus sit amet volutpat. Dui faucibus in ornare quam viverra orci. 
        Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Rhoncus aenean 
        vel elit scelerisque mauris pellentesque pulvinar pellentesque. Elementum nisi quis 
        eleifend quam adipiscing vitae proin sagittis nisl. Nullam non nisi est sit amet 
        facilisis magna etiam. Orci porta non pulvinar neque laoreet suspendisse interdum 
        consectetur. Ut pharetra sit amet aliquam. Amet consectetur adipiscing elit duis. 
        Enim eu turpis egestas pretium aenean pharetra magna ac placerat. Maecenas ultricies 
        mi eget mauris pharetra et. </br>
        </br>
        Diam quis enim lobortis scelerisque fermentum dui faucibus. Duis at tellus at urna 
        condimentum mattis pellentesque. Aliquet lectus proin nibh nisl condimentum id venenatis a. 
        Quisque id diam vel quam. Morbi quis commodo odio aenean. Pharetra diam sit amet nisl 
        suscipit adipiscing. Enim neque volutpat ac tincidunt vitae semper quis. Fames ac turpis 
        egestas maecenas pharetra convallis posuere morbi leo. Ultricies mi eget mauris pharetra. 
        Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Lectus quam id leo in vitae. 
        Nec feugiat in fermentum posuere urna. Pulvinar elementum integer enim neque volutpat ac tincidunt. 
        Nunc eget lorem dolor sed viverra ipsum nunc. Sit amet risus nullam eget felis eget nunc 
        lobortis mattis. Facilisi etiam dignissim diam quis enim lobortis scelerisque.</p>
        <div class="flex_container_media-single-left-bottom">
            <img class="img_section_media-single-bottom"  src="{{ 'Doctor.jpg' | asset_url }}">
            <p class="text_media-single">Quisque sagittis purus sit amet volutpat. 
            Dui faucibus in ornare quam viverra orci. Phasellus faucibus scelerisque eleifend 
            donec pretium vulputate sapien. Rhoncus aenean vel elit scelerisque mauris pellentesque 
            pulvinar pellentesque. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. 
            Nullam non nisi est sit amet facilisis magna etiam. 
            Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. 
            Ut pharetra sit amet aliquam. Amet consectetur adipiscing elit duis. 
            Enim eu turpis egestas pretium aenean pharetra magna ac placerat. 
            Maecenas ultricies mi eget mauris pharetra et.</p>
        </div>
        <p class="text_media-single">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Senectus et netus et malesuada fames. 
         Leo integer malesuada nunc vel. Quisque sagittis purus sit amet volutpat. Dui faucibus in ornare 
         quam viverra orci. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. 
         Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. 
         Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nullam non nisi est sit 
         amet facilisis magna etiam. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. 
         Ut pharetra sit amet aliquam. Amet consectetur adipiscing elit duis. Enim eu turpis egestas pretium 
         aenean pharetra magna ac placerat. Maecenas ultricies mi eget mauris pharetra et.</p>
    </div>
    <div class="flex_container_media-single-right">
        <h2 class="title_section_media-single">Similar articles</h2>
        <div class="flex_container_article_media-single">
            <div class="article_media-single"><a href="#">
                <div class="article_box_media-single">
                    <img class="img_article_media-single"  src="{{ 'Physician-picks.jpg' | asset_url }}">
                    <div class="text_article_media-single">
                        <p class="subtitle_red tablet-view">Research</p>
                        <h3 class="title_article_media-single">Clinicians guide to CBD and hemp oil</h3>
                        <p class="footnote">5 min read • Research</p>
                    </div>
                </div></a>
            </div>
            <div class="article_media-single"><a href="#">
                <div class="article_box_media-single">
                    <img class="img_article_media-single"  src="{{ 'Physician-picks.jpg' | asset_url }}">
                    <div class="text_article_media-single">
                        <p class="subtitle_red tablet-view">Research</p>
                        <h3 class="title_article_media-single">Clinicians guide to CBD and hemp oil</h3>
                        <p class="footnote">5 min read • Research</p>
                    </div>
                </div></a>
            </div>
            <div class="article_media-single"><a href="#">
                <div class="article_box_media-single">
                    <img class="img_article_media-single"  src="{{ 'Physician-picks.jpg' | asset_url }}">
                    <div class="text_article_media-single">
                        <p class="subtitle_red tablet-view">Research</p>
                        <h3 class="title_article_media-single">Clinicians guide to CBD and hemp oil</h3>
                        <p class="footnote">5 min read • Research</p>
                    </div>
                </div></a>
            </div>
            <div class="article_media-single"><a href="#">
                <div class="article_box_media-single">
                    <img class="img_article_media-single"  src="{{ 'Physician-picks.jpg' | asset_url }}">
                    <div class="text_article_media-single">
                        <p class="subtitle_red tablet-view">Research</p>
                        <h3 class="title_article_media-single">Clinicians guide to CBD and hemp oil</h3>
                        <p class="footnote">5 min read • Research</p>
                    </div>
                </div></a>
            </div>
        </div>
        <h2 class="title_section_media-single">Featured products</h2>
        <div class="flex_container_featured-products">
            <div class="article_featured-products"><a href="#">
                <div class="article_box_featured-products">
                    <img class="img_featured-products"  src="{{ 'CBMD_Packaging.jpg' | asset_url }}">
                    <h3 class="title_featured-products">RAW Capsules</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div></a>
            <div class="article_featured-products"><a href="#">
                <div class="article_box_featured-products">
                    <img class="img_featured-products"  src="{{ 'CBMD_Packaging.jpg' | asset_url }}">
                    <h3 class="title_featured-products">RAW Capsules</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div></a>
            <div class="article_featured-products"><a href="#">
                <div class="article_box_featured-products">
                    <img class="img_featured-products"  src="{{ 'CBMD_Packaging.jpg' | asset_url }}">
                    <h3 class="title_featured-products">RAW Capsules</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div></a>
            <div class="article_featured-products"><a href="#">
                <div class="article_box_featured-products">
                    <img class="img_featured-products"  src="{{ 'CBMD_Packaging.jpg' | asset_url }}">
                    <h3 class="title_featured-products">RAW Capsules</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div></a>
        </div>
    </div>
</div>
</div>