

<section class="hero-section">
    <div class="wrapper ps-3">
      <div class="background-image-wrapper">
        <img class="background-image" src="{{'science-banner.png' | | asset_img_url: '1920x3058'}}" alt="hero image">
      </div>
      <div class="content-wrapper ps-0">
        <div class="content-container">
          <h1 class="hero-title m-3 mt-5">A process with a higher standard</h1>
          <p class="hero-text">With exacting standards for quality, purity, safety, and efficacy, we evaluate each ingredient independently, and select optimal pairings to achieve the desired goal.</p>
        </div>
      </div>
    </div>
  </section>
  
  <main class="main-content ">
    <div>
      <div class="intro-wrapper">
        <h3 class="intro-text">Our steps to quality<br> products.</h3>
      </div>
  
      <div class="flex-container">
        <div class="first-element pl7">
          <h1 class="number">01</h1>
          <h2 class="title ">Identification of Ideology</h2>
          <p class="text">Symptom/disease we are seeking to remediate. Collection of ingredients that are commonly utilized<span class="more-text"> to support the respective ideology, alternative medicine, anecdotally recommended.</span>
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element pr-7">
          <img src="{{'round-image.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element second">
          <h1 class="number">02</h1>
          <h2 class="title">Ingredient surveying</h2>
          <p class="text">Collection of ingredients that are commonly utilized to support the respective ideology, alternative medicine,<span class="more-text">anecdotally recommended by our physician advisors, or have the same mechanism needed to support the remediation of the ideology.</span>
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element">
          <img src="{{'round-image2.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element pl7">
          <h1 class="number">03</h1>
          <h2 class="title">Ingredient screening</h2>
          <p class="text">All of the above ingredients are then screened with a comprehensive evidence review to determine the level of evidence,<span class="more-text">the result, and whether the ingredient meets all other desired specifications.</span>
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element pr-7">
          <img src="{{'round-image3.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element second">
          <h1 class="number">04</h1>
          <h2 class="title title-fix">Ingredient sourcing, Ingredient review</h2>
          <p class="text">This is an assessment of proprietary versions of the ingredients that survive the above analysis and the research that supports them.<span class="more-text"> Note, most proprietary research does not meet our level of evidence standard and for that reason is not included in the above assessment.</span>
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element">
          <img src="{{'round-image4.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
  
      <div class="flex-container">
        <div class="first-element pl7">
          <h1 class="number">05</h1>
          <h2 class="title">Evidence based dosing</h2>
          <p class="text">Built from all available evidence collected above, with consideration for the ideology and mechanism.<span class="more-text">(eg. inflammation is best supported by "x" dose of a respective ingredient and enhanced/supported by cumulative effect, meaning the dosage needs to be twice daily for continuous support and long term remediation).</span>
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element pr-7">
          <img src="{{'round-image5.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element second">
          <h1 class="number">06</h1>
          <h2 class="title">Product prototyping </h2>
          <p class="text">This is an assessment of proprietary versions of the ingredients that survive the above analysis and the research that supports them.<span class="more-text">Note, most proprietary research does not meet our level of evidence standard and for that reason is not included in the above assessment.</span> 
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element">
          <img src="{{'round-image6.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element pl7">
          <h1 class="number">07</h1>
          <h2 class="title">Physician 
            review</h2>
          <p class="text">Our products are reviewed anecdotally by each of our physician advisors and our medical team.<span class="more-text"> While also being scientifically reviewed; lab tested for potency, microbial contamination, heavy metals, as well as  the ingredients testing and are analyzed individually prior to their review here.</span>
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element pr-7">
          <img src="{{'round-image7.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element second">
          <h1 class="number">08</h1>
          <h2 class="title">Formulation refinement</h2>
          <p class="text">This is an assessment of proprietary versions of the ingredients that survive the above analysis and the research that supports them.<span class="more-text">Note, most proprietary research does not meet our level of evidence standard and for that reason is not included in the above assessment.</span>
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element">
          <img src="{{'round-image8.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
   
      <div class="flex-container">
        <div class="first-element pl7">
          <h1 class="number">09</h1>
          <h2 class="title">Development of protocols</h2>
          <p class="text">We are not guided by a manufacturer who has all the wrong priorities to make the appropriate recommendations,<span class="more-text">all of the above steps are completed internally by our physician advisory team and a formulation chemists specializing in nutraceutical development.</span>
   
          </p>
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element pr-7">
          <img src="{{'round-image9.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
      <div class="flex-container">
        <div class="first-element second">
          <h1 class="number">10</h1> 
          <h2 class="title">Final product
            production</h2>
          <p class="text">The only step completed by the actual manufacturer. Above steps are completed internally by our physician advisory team and a formulation chemist specializing in znutraceutical development. 
   
          </p> 
          <span onclick="readMore(this)" class="read-more-btn">Read more</span>
        </div>
        <div class="second-element">
          <img src="{{'round-image10.png' | | asset_img_url: '1920x3058' }}" alt="" class="round-image">
        </div>
      </div>
  
   
  
  
    </div>
  </main>