<!-- Banner section -->

<div id="shopify-section-banner" class="shopify-section shopify-section--banner hhs">
  <section id="section-banner-ourscience">
    <div class="rbln-container banner_background full_foreground">
      <div class="banner_backgroundImageWrapper">
        <img class="banner_backgroundImage" src="{{'science-background-image.png'| asset_img_url: '2880x1620'}}" alt="">
      </div>
      <div class="banner_contentWrapper">
        <div class="banner-content-first">
          <p class="banner-content-title">The MD in our name is no accident.</p>
          <p class="banner-content-text">We’re deliberate in all we do. From caring for our patients, to examining how consumer products  impact our patients, and knowing why potency  and dosing matter. CBMD™ is governed by  medical science.</p>
          <div class="section-button">
            <a href="#" class="Button Button--cbd Button--red">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- CBMD stats section -->

<div id="shopify-section-cbmd-stats" class="shopify-section">
  <section id="section-cbmd-stats">
    <div class="Highlights_stats_container Highlights_container_2 rbln-container ps-4">
      <div class="Highlights_item Highlights_first box" style="opacity: 1;transform: translate(0px, -40px);">
        <p class="Highlights_heading box t-red" style="opacity: 1;transform: translate(0px, -40px);">Our philosophy</p>
        <p class="box h1-t stats-h1" style="opacity: 1;transform: translate(0px, -40px);">First do no harm.</p>
        <p class="stats-text box pt-2  mw-70" style="opacity: 1;transform: translate(0px, -40px);">We took an oath. Our commitment to responsibility, accountability, and patient outcomes is here in our products. With a focus on quality, efficacy and safety we’re taking everything we know and applying it to provide quality products that consumers and healthcare providers can trust.</p>
        <p class="Highlights_action box">
          <a href="#" class="Link Link--cbd">Our mission</a> 
        </p>
      </div>
      <div class="Highlights_item Highlights_second Highlights_item_section_cbmd-stats ">
        <div class="collections stats_collectsion box">
          <h3 class="colections-title">85+</h3>
          <p class="colections-text">years of combined experience</p>
        </div>
        <div class="collections stats_collectsion box">
          <h3 class="colections-title">1000+</h3>
          <p class="colections-text">peer-reviewed medical publications</p>
        </div>
        <div class="collections stats_collectsion box">
          <h3 class="colections-title">350K+</h3>
          <p class="colections-text">patients under our care</p>
        </div>
      </div>
    </div>
  </section> 
</div>

<!-- CBMD Highlight image section -->

<div id="shopify-section-cbmd-highlight-image" class="shopify-section">
  <section id="section-cbmd-highlight-image">
    <div class="hi-image row Highlights_image_container align-self-center">
      <div class="hi-image-left col-sm">
        <p class="Highlights_heading ps-4 box t-red red-text top-title">Our mission</p>
          <p class="ms-4 box h1-t top-title">We eliminate confusion and illuminate the facts.</p>

        <div class="proportion-div position-relative" style="padding-bottom: 100%; margin-top: 5%;">
          <div class="position-absolute w-100 h-100 t-0 l-0 ">
            <img src="{{'highlight.jpg' | | asset_img_url: '2880x1620'}}" alt="" class="highlight_image"> 
          </div> 
        </div>
      </div>
      <div class="m-xl-5 hi-image-right col-lg Highlights_item Highlights_second">
        <div class="Highlights_item_content">
          <p class="Highlights_heading box t-red bottom-title">Our mission</p>
          <p class="box h1-t bottom-title">We eliminate confusion and illuminate the facts.</p>
          <p class="p-t mw-85 box ml-wide">Every day we work to view CBD through the lens of science, infuse the conversation with knowledge, impart an evidence-based approach to the industry, and develop quality CBD options.</p>
          <p class="Highlights_action box">
            <a href="#" class="Link Link--cbd">Our process</a> 
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Promise section -->

<section class="promise-section">
  <div class="section-wrapper">
    <div class="promise-heading">
      <p class="t-red Highlights_heading">What matters to us</p>
        <p class="h1-t main-heading">Our brand promise.</p>
    </div>
    <div class="promise-nav">
      <ul>
        <li class="ms-0 nav-item education">Education</li>
        <li class="nav-item trust">Trust</li>
        <li class="nav-item quality">Quality</li>
        <li class="nav-item optimism">Optimism</li>
        <li class="nav-item transparency">Transparency</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="{{'quality.png' | | asset_img_url: '750x266'}}" alt="" class="promise-img">
    </div>
    <div class="ps-text-container">
      <p class="ps-text">There is no real standard for CBD. Manufacturers are not subject to regulations like those that govern prescriptions, supplements, and food. Analysis of products sold today reveals pesticides, heavy metals, and mislabeled content—with some products containing no CBD at all. <strong>CBMD insists on quality.</strong> We have exacting standards for purity, safety, and efficacy. Our raw ingredients and formulations undergo rigorous testing for potency, allergens, and harmful interactions. We understand the human body, and what consumers and patients put into their bodies matters to us. It’s why we believe a quality option is a necessary option.</p>
      <div class="medical-team">
        <img src="{{'medical-team.png' | | asset_img_url: '750x266'}}" alt="" class="medical-teamImg">
        <div class="line">
          <img src="{{'Line.png' | | asset_img_url: '750x266'}}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CBMD Highlight image section 2 -->



<div id="shopify-section-cbmd-highlight-image-1" class="shopify-section">
  <section id="section-cbmd-highlight-image-1" style="padding-bottom: 5.85rem;">
    <div class="Highlights_image_container Highlights_image_right">
      <div class="Highlights_item Highlights_second slika-desno order-2">
        <img src="{{'hi2.jpeg' | | asset_img_url: '2880x1620'}}" alt="" class="highlight_image"> 
      </div>
      <div class="Highlights_item Highlights_first">
        <div class="Highlights_item_content">
          <p class="Highlights_heading">Our vision</p>
          <p class="Highlights_title">To reveal the full potential of responsible CBD.</p>
          <p class="Highlights_description p-text2 pe-0">CBMD™ takes a different approach, built on scientific expertise and clinical insight. CBMD™ traces the overlooked steps in CBD’s path to market, to realize a quality, medical-grade line of products.</p>
          <p class="">
            <a href="#" class="Button Button--cbd Button--red">Our products</a> 
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Video background section -->

<div id="shopify-section-cbmd-video" class="shopify-section">
  <section id="section-cbmd-video">
    <div class="Highlights_image_container Highlights_image_background">
      <div class="videooverlay"></div>
      <div class="Highlights_item Highlights_first">
        <video  frameborder="0" allowfullscreen playsinline muted autoplay loop>
          <source type="video/mp4" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-our-science-med.mp4?v=1586394762">
          <source type="video/webm" src="">
        </video>
      </div>
      <div class="Highlights_item  video-content-container me-5">
        <div class="Highlights_item_content video-section-content d-flex flex-column justify-content-center ms-auto">
          <p class="Highlights_heading">Our science</p>
          <p class="Highlights_title">Truth. <br>
            Not trends.</p>
            
          <p class="Highlights_video_description video-p">Our team of physicians is guided by a medical ethos. That translates to evidence-based decisions, quality ingredients, and transparent development. Where we see unanswered questions, unsubstantiated claims, consumer confusion, and a medical community that is only partially engaged, we lead with what we know, understand, and believe in: science.</p> 
          <div>

            <a href="/pages/contact" data-action="open-modal" aria-controls="modal-healthcare-providers" class="Button Button--cbd Button--gray">Stay informed</a>
          </div>
        </div>
    </div>
  </section>
</div>


<!-- Book section -->


<div id="shopify-section-cbmd-book-ourscience" class="shopify-section">
  <section id="section-cbmd-book-ourscience">
    <div class="cbmd_book_container Highlights_container book-section-container ">
      <div class="book_contents_area">
         <p class="Highlights_heading" style="color: #EB161E;">Featured publication</p>
        <p class="Highlights_title book-title">News and research</p>
        <p class="description book-p-text">Created by Americans for Safe Access (ASA),The Patient’s Guide to CBD is an informative resource for patients, healthcare providers, consumers, and others seeking information on the topic of cannabidiol (CBD).</p>
        <a href="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Patients_Guide_to_CBD.pdf" target="_blank" class="Button Button--cbd Button--gray">Open PDF</a>
      </div>
      <div class="book_cover_area">
        <div class="book_container">
          <div class="book_cover mx-0">
            <a href="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Patients_Guide_to_CBD.pdf" target="_blank">
              <div class="book book_hovered" style="background-image: url(//cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-patients-guide-to-cbd.png?v=1586969066)">
                
              </div>            
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




<div id="shopify-section-cbmd-highlight-image-2" class="shopify-section">
  <section id="section-cbmd-highlight-image-1">
    <div class="Highlights_image_container Highlights_image_right">
<div class="d-md-none order-3">
  <p class="Highlights_heading top-text-2">Partner with us</p>
  <p class="Highlights_title top-title-2">Work with us to serve your patients.</p>
</div>


      <div class="Highlights_item Highlights_second health-image order-2 align-self-end">
        <img src="{{'health-image.jpeg' | | asset_img_url: '2880x1620'}}" alt="" class="highlight_image"> 
      </div>
      <div class="ms-5 work-with-us Highlights_item Highlights_first me-0 col">
        <div class="Highlights_item_content">
          <p class="Highlights_heading d-none d-md-block">Partner with us</p>
          <p class="Highlights_title d-none d-md-block">Work with us to serve your patients.</p>
          <p class="Highlights_description ">Like us, you want what’s best for your patients. If you have questions about the science of our products or want to learn more about partnering with CBMD™ on customized formulations, let us know.</p><p class="Highlights_action"><a href="/pages/contact" data-action="open-modal" aria-controls="modal-healthcare-providers" class="Button Button--cbd Button--gray">Get in touch</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>


<div id="shopify-section-cbmd-multilinks-ourscience" class="shopify-section"><section id="section-cbmd-multilinks-ourscience" data-section-id="cbmd-multilinks-ourscience" data-section-type="cbmd">  
  <div class="Highlights_multilnk_container Highlights_container_2 multilink-container ps-0" id="Highlights_multilnk_container_cbmd-multilinks-ourscience">
    <div class="Highlights_multilnk_item box multilink-item" style="opacity: 1; transform: translate(0px, -40px);">
        <div class="Higlights_overlay"></div>
          <a href="/pages/overview">
            <div class="Highlights_multilnk_item_content multilink-content" style="background-image: url(//cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-benefits-2col_2x_c03e4f42-eb70-4476-a962-d4dbae14672b.jpg?v=1587092432);">
              <h3>Discover the difference.</h3>
              <div class="Highlights_multilnk_item_body">
                <p>Our products</p>
              </div>
            </div>
          </a>
        </div>
        <div class="Highlights_multilnk_item box multilink-item" style="opacity: 1; transform:  translate(0px, -40px);">
          <div class="Higlights_overlay"></div>
            <a href="/pages/our-mission">
              <div class="Highlights_multilnk_item_content multilink-content" style="background-image: url(//cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-products-2col_2x_b9bcab69-dabe-449f-b887-e4634f5149b9.jpg?v=1587092452);">
                <h3>CBD in medical<br> care.</h3>
                <div class="Highlights_multilnk_item_body">
                  <p>Our science</p>
                </div>
              </div>
            </a>
          </div>
        </div>
</section>


<script>


  var promiseImg = document.querySelector(".promise-img");
  var education = document.querySelector(".education");
  var trust = document.querySelector(".trust");
  var quality = document.querySelector(".quality");
  var optimism= document.querySelector(".optimism");
  var transparency = document.querySelector(".transparency");

  education.addEventListener("click", function() {
    promiseImg.src = "{{'education.png' | | asset_img_url: '750x266'}}";
  })

  trust.addEventListener("click", function() {
    promiseImg.src = "{{'trust.png' | | asset_img_url: '750x266'}}";
  })

  quality.addEventListener("click", function() {
    promiseImg.src = "{{'quality.png' | | asset_img_url: '750x266'}}";
  })

  optimism.addEventListener("click", function() {
    promiseImg.src = "{{'optimism.png' | | asset_img_url: '750x266'}}";
  })

  transparency.addEventListener("click", function() {
    promiseImg.src = "{{'transparency.png' | | asset_img_url: '750x266'}}";
  })


</script>