<div class="main_container">
  <h1 class="title_page">Media & other </br>  Resources </h1>
  <div class="flex-container-media">
    <div class="flex-container-media-right">
      <h2 class="title_section">Latest post</h2>
       <div class="flex-container-latest">
        <img class="img_section-latest"   src="{{ 'CBD-benefits.jpg' | asset_url }}">
        <div class="article_box-latest">
          <p class="subtitle_red">Research</p>
          <h3 class="title_article-latest">What is CBD and what are its benefits?</h3>
          <p class="text_article">For patients new to CBD, lorem ipsum dolor sit amet, 
          consec adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et dolore magna aliqua.</p>
          <p class="footnote">5 min read</p>
        </div>
      </div>
    </div>
    <div class="flex-container-media-left">
      <h2 class="title_section">Physician’s picks</h2>
      <div class="flex-container-physician">
        <div class="article-box-top"><a href="#">
          <div class="article_box-physician">
            <img class="img_section-physician"  src="{{ 'Physician-picks.jpg' | asset_url }}">
            <div class="text_article-physician">
              <p class="subtitle_red tablet-view">Research</p>
              <h3 class="title_article-physician">Clinicians guide to CBD and hemp oil</h3>
              <p class="footnote">5 min read • Research</p>
            </div>
          </div></a>
        </div>
        <div class="article-box-top"><a href="#">
          <div class="article_box-physician">
            <img class="img_section-physician"  src="{{ 'Physician-picks.jpg' | asset_url }}">
            <div class="text_article-physician">
              <p class="subtitle_red tablet-view">Research</p>
              <h3 class="title_article-physician">Clinicians guide to CBD and hemp oil</h3>
              <p class="footnote">5 min read • Research</p>
            </div>
          </div></a>
        </div>
        <div class="article-box-top"><a href="#">
          <div class="article_box-physician">
            <img class="img_section-physician"  src="{{ 'Physician-picks.jpg' | asset_url }}">
            <div class="text_article-physician">
              <p class="subtitle_red tablet-view">Research</p>
              <h3 class="title_article-physician">Clinicians guide to CBD and hemp oil</h3>
              <p class="footnote">5 min read • Research</p>
            </div>
          </div></a>
        </div>
      </div>
    </div> 
  </div>
  <div>
    <h2 class="title_section explore">Explore</h2>
     <div class="flex-container-explore">
      <div class="article_box"><a href="#">
        <div class="article_box-explore">
          <img class="img_section"  src="{{ 'password.jpg' | asset_url }}">
          <div class="text_article-explore">
            <p class="subtitle_red desktop-view">Research</p>
            <h3 class="title_article">FDA recommends science-based approach</h3>
            <p class="footnote">5 min read</p>
          </div>
        </div></a>
      </div>
      <div class="article_box"><a href="#">
        <div class="article_box-explore">
          <img class="img_section"  src="{{ 'password.jpg' | asset_url }}">
          <div class="text_article-explore">
            <p class="subtitle_red desktop-view">Research</p>
            <h3 class="title_article">FDA recommends science-based approach</h3>
            <p class="footnote">5 min read</p>
          </div>
        </div></a>
      </div>
      <div class="article_box"><a href="#">
        <div class="article_box-explore">
          <img class="img_section"  src="{{ 'password.jpg' | asset_url }}">
          <div class="text_article-explore">
            <p class="subtitle_red desktop-view">Research</p>
            <h3 class="title_article">FDA recommends science-based approach</h3>
            <p class="footnote">5 min read</p>
          </div>
        </div></a>
      </div>
      <div class="article_box"><a href="#">
        <div class="article_box-explore">
          <img class="img_section"  src="{{ 'password.jpg' | asset_url }}">
          <div class="text_article-explore">
            <p class="subtitle_red desktop-view">Research</p>
            <h3 class="title_article">FDA recommends science-based approach</h3>
            <p class="footnote">5 min read</p>
          </div>
        </div></a>
      </div>
    </div>
  </div>
</div>

