<div class="new-home">
{% comment %} {% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script> {% endcomment %}
{% section 'product-template' %}


<section class="Certifications Highlights_container rbln-container">
  <h4 class="h6_red">Certifications</h4>
      <h1 class="h2">Backed by </br> sciences.</h1>

  <div class="Certifications_container">
    <div class="Certifications_box">
       <img  src="{{ 'cbmd-3rd-party-tested.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-allergen-free.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-broad-spectrum.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-cliniclly-proven-ingredients.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-customizable.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-glycol-free.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-kosher.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>

    <div class="Certifications_box">
       <img  src="{{ 'cbmd-medical-grade.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-natural-ingredients.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-non-gmo.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-sulfate-free.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-paraben-free.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-usa-grown-hemp.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>
     <div class="Certifications_box">
       <img  src="{{ 'cbmd-vegan.svg' | asset_url }}">
       <p> Made in the USA</p>
    </div>

  </div>
</section>
<div class="hi-image row Highlights_image_container align-self-center image-reversed rbln-container">

      <div id="f" class="hi-image-right col-lg Highlights_item Highlights_second">
      <section>
        <div class="inside-menu-small rbln-container menu_small  content_box h6 rb-mobile-hide box">
          <ul>
            <li><a id="fClick" class="active" href="#">Formula</a></li>
            <li><a id="inClick" href="#">Ingredients</a></li>
            <li><a id="rClick" href="#">Research</a></li>
          </ul>
        </div>  

      </section>
        <div class="Highlights_item_content">
          <p class="box h1-t">Fast acting CBD <br>Topical Cream</p>
          <div class="hi-image-left col-lg rb-desktop-hide">
            <div class="proportion-div position-relative" style="padding-bottom:100%;">
            <div class="position-absolute w-100 h-100 t-0 l-0"><img data-scroll-repeat="true" data-scroll data-scroll-speed="-1" class="highlight_image" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Group_559_2.png?v=1619682747"></div>
            </div>
        </div>
          <p class="p-t mw-85 box ml-wide new-m">In combination with CBD, select plant-based compounds and other natural ingredients comprise a formulation designed to support discomfort and inflammation.</p>
          <p class="formulated box">
            Formulated for<br>
            <span>Pain</span>
            <span>Inflamatation</span>
            <span>Muscle Soreness</span>
            <span>Stiffness</span>
            <span>Discomfort</span>
            <span>Backaches</span>
            <span>Aches</span>
            <span>Joint Stiffness</span>
            <span>Headaches</span>
          </p>
          </div>
      </div>
      <div class="hi-image-left col-lg rb-mobile-hide">
        <div class="proportion-div position-relative" style="padding-bottom:100%;">
        <div class="position-absolute w-100 h-100 t-0 l-0"><img data-scroll-repeat="true" data-scroll data-scroll-speed="-1" class="highlight_image" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Group_559.png?v=1618490398"></div>
        </div>
      </div>
</div>
<div id="in" class="rbln-container menu_small  content_box h6 rb-mobile-hide">
  <ul>
    <li><a id="fClick" class="active" href="#">Formula</a></li>
            <li><a id="inClick" href="#">Ingredients</a></li>
            <li><a id="rClick" href="#">Research</a></li>
  </ul>
</div> 
{% section 'cbmd-product-ingredients' %}
<div class="rbln-container menu_small  content_box h6 rb-mobile-hide">
  <ul>
    <li><a id="fClick" class="active" href="#">Formula</a></li>
            <li><a id="inClick" href="#">Ingredients</a></li>
            <li><a id="rClick" href="#">Research</a></li>
  </ul>
</div> 
{% section 'cbmd-product-research' %}
{% section 'cbmd-product-dosing' %} 
<div class="stars Highlights_container rbln-container">
<h4 class="h6_red">CBMD PMT Topical Cream</h4>
  <h1 class="h2">Customer Reviews</h1>
<div class="yotpo yotpo-main-widget" 
data-product-id="{{ product.id }}" 
data-name="{{ product.title | escape }}" 
data-url="{{ shop.url }}{{ product.url }}" 
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
data-description="{{ product.description | escape }}"></div>
</div>
<div id="start" class="baskground_CBMD is-inview" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-clinic.png?v=1611070308&quot;); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 109.547, 0, 1);">
  <div></div>
  <div class="flex-container_CBMD">
  <h3>Sales for clinics and practices</h3>
  <h1>Available wherever there’s care.</h1>
  <p>Conversations about CBD are happening everywhere, and people are increasingly turning to their healthcare providers for answers. CBMD offers a physician-developed line of CBD products that you and your patients can trust.</p>
  <button data-action="open-modal" aria-controls="modal-general-newsletter">Talk with us</button>
  </div>
</div>

<section>
  <div class="labCertified Highlights_container">
    <div class="labCertified_box labCertified_box-left"> 
      <h4 class="h6_red">Independently tested CBD</h4>
      <h1 class="h2">Lab certified. </br>
          Physician approved.</h1>
      <div class="p">In an industry that lacks federal guidelines for safety, 
      efficacy, and manufacturing protocols around CBD products, 
      we apply a medical and scientific standard to all of our processes. 
      We rigorously evaluate every ingredient and formulation, and we 
      provide transparency to help empower informed decisions.</div>
      <img class="img_COA"   src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Frame.svg?v=1618574865">
      <div class="COA_box_bottom">
        <h1 class="p_small">Learn about your batch</h1>
        <form>
        <div class="button_view_COA" >
          <input type="number" class="input_number-COA" name="quantity">
          <input type="submit" class="view_COA"  value="View COA">
        </div>
        </form>
        <h2>Six digits found on product label</h2>
      </div>
    </div>
    <div class="labCertified_box labCertified_box-right"> 
      <h2 class="h6_bold">Ingredient Measured  <span style="float:right;">
        Our Standard</span></h2>
      <div class="accortion_COA">
        <div class="accordion_box-COA ">
          <input type="checkbox" name="tab-COA" id="tab-1-COA">
          <label class="tab-label-COA" for="tab-1-COA">CBD <span style="float:right; padding-right: 3.6rem;">
        >20%</span></label>
          <div class="tab__content-COA p">
            Potency is important when calculating the safe recommended
              dose and respective toxicity levels.
          </div>
        </div>
        <div class="accordion_box-COA ">
          <input type="checkbox" name="tab-COA" id="tab-2-COA">
          <label class="tab-label-COA" for="tab-2-COA">THC  <span style="float:right; padding-right: 3.6rem;">
        >20%</span></label>
          <div class="tab__content-COA p">
            Potency is important when calculating the safe recommended
              dose and respective toxicity levels.
          </div>
        </div>
        <div class="accordion_box-COA ">
          <input type="checkbox" name="tab-COA" id="tab-3-COA">
          <label class="tab-label-COA" for="tab-3-COA">Pesticides  <span style="float:right; padding-right: 3.6rem;">
        >20%</span></label>
          <div class="tab__content-COA p">
            Potency is important when calculating the safe recommended
              dose and respective toxicity levels.
          </div>
        </div>
        <div class="accordion_box-COA">
          <input type="checkbox" name="tab-COA" id="tab-4-COA">
          <label class="tab-label-COA" for="tab-4-COA">Residual solvents<span style="float:right; padding-right: 3.6rem;">
        >20%</span></label>
          <div class="tab__content-COA p">
            Potency is important when calculating the safe recommended
              dose and respective toxicity levels.
          </div>
        </div>
        <div class="accordion_box-COA">
          <input type="checkbox" name="tab-COA" id="tab-5-COA">
          <label class="tab-label-COA" for="tab-5-COA" style="border-bottom: 1px solid #DCDCDC;">Heavy metals<span style="float:right; padding-right: 3.6rem;">
        >20%</span></label>
          <div class="tab__content-COA p">
            Potency is important when calculating the safe recommended
              dose and respective toxicity levels.
          </div>
        </div>
        <div class="p">*Non-detectable levels</div>
      </div>
      <div class="mobile_view">
        <h1>Learn about your batch</h1>
        <form>
        <div class="button_view_COA" >
          <input type="number" class="input_number-COA" name="quantity">
          <input type="submit" class="view_COA"  value="View COA">
        </div>
        </form>
        <h2>Six digits found on product label</h2>
      </div>
    </div>
  </div>
</section>

{% section 'cmbd-product-faq' %}
</div>